<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu67UoYUu3z8Mz46R5dRYW33WLH899_gI</string>
	<key>GCM_SENDER_ID</key>
	<string>266316185137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goshare.goshare</string>
	<key>PROJECT_ID</key>
	<string>goshare-bc3c4</string>
	<key>STORAGE_BUCKET</key>
	<string>goshare-bc3c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266316185137:ios:1142ce60712f3223789f10</string>
</dict>
</plist>